html {
  font-family: 'Microsoft YaHei', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  a {
    color: #666;
    text-decoration: none;
  }

  iframe {
    border: none;
  }

  img {
    border: none;
  }

  img[lazy=loading] {
    transition: opacity .25s linear;
    animation: loading .5s ease-in-out;
    object-fit: cover;
  }

  img[lazy=error] {
    /*your style here*/
  }

  img[lazy=loaded] {
    /*your style here*/
  }

  @keyframes loading {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px
}

::-webkit-scrollbar:horizontal {
  height: 10px
}

::-webkit-scrollbar-track {
  background-color: transparent;
  height: 0
}

::-webkit-scrollbar-thumb {
  background-color: #ddd
}

::-webkit-scrollbar-thumb:hover {
  background-color: #378fff
}

::-webkit-input-placeholder {
  letter-spacing: 1px;
  font-size: .95rem;
  color: #ccc;
}
