html {
  font-family: 'Microsoft YaHei', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  a {
    color: #666;
    text-decoration: none;
  }

  img[lazy=loading] {
    transition: opacity .25s linear;
    animation: loading 1s infinite ease-in-out;
  }

  img[lazy=error] {
    /*your style here*/
  }

  img[lazy=loaded] {
    /*your style here*/
  }

  @keyframes loading {
    0% {
      background-color: #0093E9;
      background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
      opacity: 0;
    }
    100% {
      background-color: #ffffff;
      background-image: none;
      opacity: 1;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
