$theme-color: #0a84ea;

$screen-size-xs: "max-width: 575px";
$screen-size-sm: "min-width: 576px";
$screen-size-md: "min-width: 768px";
$screen-size-lg: "min-width: 992px";
$screen-size-xl: "min-width: 1200px";
$screen-size-xxl: "min-width: 1600px";
