$theme-color: #0a84ea;

$screen-xs-min: "min-width: 575px";
$screen-sm-min: "min-width: 576px";
$screen-md-min: "min-width: 768px";
$screen-lg-min: "min-width: 992px";
$screen-xl-min: "min-width: 1200px";
$screen-xxl-min: "min-width: 1600px";

$screen-xs-max: "max-width: 575px";
$screen-sm-max: "max-width: 576px";
$screen-md-max: "max-width: 768px";
$screen-lg-max: "max-width: 992px";
$screen-xl-max: "max-width: 1200px";
$screen-xxl-max: "max-width: 1600px";

$sidebar-width: 140px;
$header-main-height: 64px;
$header-nav-height: 60px;
$header-height: $header-main-height;
$header-height-withNav: $header-main-height + $header-nav-height;

@mixin gradient-background {
  background-color: #51defe;
  background-image: linear-gradient(126deg, #51defe 0%, #1170f5 79%);
  color: #ffffff;
  a, i {
    color: #ffffff;
  }
  span {
    color: #f1f1f1;
  }
}

$z-index-message: 999;
$z-index-header: 990;
$z-index-toolbar: 993;
$z-index-sidebar: 989;
$z-index-modal: 996;
$z-index-overlay: 995;
$z-index-fullscreen: 1000;
$z-index-card-background: 1;
$z-index-card-content: 2;
$z-index-card-action: 3;

$font-family-base: 'Microsoft YaHei', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
Roboto, 'Helvetica Neue', Arial, sans-serif;
